@model IEnumerable<TCS2011PPTG9.Models.Topic>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>
<table class="table table-bordered table-success">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline_1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline_1)
            </td>
            <td>
                
                <a class = "btn btn-info"asp-action="Details" asp-route-id="@item.Id">Sumit</a> 
              
            </td>
        </tr>
}
    </tbody>
</table>
